@import 'styles/colors';

.title{
  display: flex;
  margin: 20px 0;
  display: flex;
  align-items: center;
}

.add{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $green;
  box-shadow: 0 0 0 4px #77a54b;
  margin-right: 10px;
}

.body{
  display: flex;
}

.orders{
  width: 100%;
  margin-right: 20px;
  &_active{
    width: 30%;
  }
}


.fullOrder{
  width: calc(70% - 50px);
}