@import 'colors';

:root {
  --green: #88C048;
  --green-30: #88C0484D;
  --gray: #454b4e;
  --light-gray: #95A3AA;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: $primary;
}
a{
  text-decoration: none;
}
h1{
  margin: 0;
}
.breadcrumb{
  margin-bottom: 0;
}

.product-item{
  background: #fff;
  border-radius: 3px;
  border: 1px solid gray;
  margin-bottom: .375rem;
  padding: .625rem 1.25rem;
  overflow: auto;
  overflow-y: hidden;
}
.text-primary{
  font-size: 1rem;
  line-height: 1;
  color: $primary;
}
.text-secondary{
  font-size: .75rem;
  line-height: 1;
  color: $secondary;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.none{
  display: none;
}