

:root {
  --green: #88C048;
  --green-30: #88C0484D
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
a{
  text-decoration: none;
}
@import "node_modules/bootstrap/scss/bootstrap";
$theme-colors: (
    "primary": #88C048,
)


